section {
	margin-top: 50px;
	padding: 20px 20px 20px;

	
}

h2 {
	text-align: center;
	margin-bottom: 50px;
}

h3 {
	margin-left: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: black;
}


p {
	text-align: justify;

}